/* Sitewide Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata/Alata-Regular.ttf");
}

body {
  font-family: "Alata", "Roboto", sans-serif;
  font-size: 16px;
  color: white;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: url("../img/cloudy.jpeg") no-repeat center center fixed;
}

header {
  font-size: 2rem;
  font-weight: 700;
  padding: 5rem 0 1rem 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.898);
}

.hamburger-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  border: none;
  background: transparent;
}
main {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer {
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* Current Weather */
.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.current-weather-temp {
  font-size: 5rem;
  font-weight: 700;
  margin-left: 2rem;
}

.current-weather-description {
  font-size: 1.25rem;
}

.today-high-low-temp {
  display: flex;
  gap: 1rem;
}

/* Forecast */

.forecast-heading {
  margin-top: 5rem;
  margin-bottom: -2rem;
  font-size: 1.25rem;
  z-index: 2;
}
.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.2);
  /* width: 80%; */
  /* max-width: 700px; */
  padding: 3rem;
  border-radius: 10px;
}

.forecast-item {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  /* gap: 1rem; */
  width: 100%;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 1rem;
  left: 5rem;
}

.search.hidden {
  display: none;
}

.search input {
  border: none;
  border-radius: 5px;
  font-size: 0.75rem;
  width: 100%;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.search input::placeholder {
  color: white;
}

.search button {
  border: none;
  border-radius: 10px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

body.cloudy {
  background: url("../img/cloudy.jpeg") no-repeat center center fixed;
  background-size: cover;
}

body.sunny {
  background: url("../img/sunny.jpeg") no-repeat center center fixed;
  background-size: cover;
}

body.rainy {
  background: url("../img/rainy.jpeg") no-repeat center center fixed;
  background-size: cover;
}

body.snowy {
  background: url("../img/snowy.jpeg") no-repeat center center fixed;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .forecast {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .forecast-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
